html, body {
    font-family: 'Source Sans Pro', sans-serif;
    background-color: #d7be96;
}

.navbar-top {
    background: #3a3a3c;
    color: #ffffff;
}

.hotline {
    text-align: center;
    font-size: 21px;
    line-height: 25.2px;
    width: 100%;
}

/** Header **/
.header {
    height: 150px;
}

.logo {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
}

.logo img {
    width: 220px;
    height: auto;
}

.menu {
    width: 100%;
    height: 100%;
}

.menu .search-product {
    display: block;
    float: right;
    margin: 24px 0 12px 0;
    border-radius: 10px;
    border: none;
    padding: 2px 8px;
    outline-style: none;
    width: 180px;
}

.menu .navbar {
    padding: 0;
}

.menu .nav-link {
    color: #ffffff;
}

.menu .navbar-nav {
    width: 100%;
    display: flex;
    justify-content: space-between;
}
/** End Header **/

/** Top Slider **/
#top-slider .carousel-indicators li {
    width: 12px;
    height: 12px;
    border-radius: 50%;
    opacity: 1;
}

#top-slider .carousel-indicators li.active {
    background-color: #3a3a3c;
}
/** End Top Slider **/

/** Feature Products **/
.feature-product {
    width: 100%;
    display: flex;
    justify-content: space-between;
    color: #ffffff;
    margin: 40px auto;
}

.feature-product--image {
    width: 90px;
}

.feature-product--image img {
    max-width: 100%;
}

.feature-product--info {
    padding-top: 50px;
}

.feature-product--info h3 {
    margin-bottom: 30px;
}

.feature-product--info ul {
    list-style: none;
    margin: 0;
    padding: 0;
    margin-bottom: 60px;
}

.feature-product--info a {
    color: #ffffff;
    border: 1px solid #ffffff;
    padding: 8px 24px;
}

.feature-product.left {
    padding-right: 48px;
}

.feature-product.right {
    padding-left: 48px;
}
/** End Feature Products **/